/* Root variables for color scheme */
:root {
    height: 100dvh;
    --bg: rgb(33, 34, 44); /* Background color */
    --text: rgb(248, 248, 242); /* Text color */
    --ghost-contrast: rgb(77, 77, 102); /* Ghost contrast color */
    --faint-contrast: rgb(15, 17, 19); /* Faint contrast color */
    --faint-contrast-trans: rgba(15, 17, 19, 0.50); /* Transparent faint contrast color */
    --mild-contrast: rgb(77, 77, 102); /* Mild contrast color */
    --good-contrast: rgb(230, 230, 230); /* Good contrast color */
    --button-bg: rgb(121, 112, 169); /* Button background color */
    --button-bg-hover: rgb(255, 85, 85); /* Button background color on hover */
    --button-text: rgb(248, 248, 242); /* Button text color */
    --focus-color: rgb(80, 250, 123); /* Focus color */
    --gradient-start: rgb(81, 75, 121); /* Gradient start color */
    --gradient-end: rgb(116, 105, 170); /* Gradient end color */
}

/* Dark theme variables */
:root .theme-dark {
    color-scheme: dark;
    --bg: rgb(13, 13, 17); /* Dark background color */
    --text: rgb(200, 200, 200); /* Dark text color */
    --good-contrast: rgba(230, 230, 230, 0.98); /* Good contrast color with transparency */
    --button-bg: rgb(79, 81, 103); /* Dark button background color */
    --button-bg-hover: rgb(164, 54, 54); /* Dark button background color on hover */
    --button-text: rgb(230, 230, 230); /* Dark button text color */
    --focus-color: rgb(55, 173, 85); /* Dark focus color */
    --gradient-start: rgb(30, 28, 45); /* Dark gradient start color */
    --gradient-end: rgb(56, 51, 84); /* Dark gradient end color */
}

/* Styling for header section */
header {
    background-image: linear-gradient(to bottom, var(--gradient-start) 30%, var(--gradient-end) 100%);
    background-repeat: no-repeat;
    filter: none;
    position: sticky;
    padding: .7em;
    top: 0;
    z-index: 1;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 4px rgb(0 0 0 / 70%);
}

/* Styling for body section */
body {
    background-size: contain;
}

/* Styling for root container */
#root {
    margin: auto;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Styling for child div of root */
#root>div {
    max-width: 100%;
}

/* Styling for breadcrumb navigation */
.breadcrumb {
    padding: .1em .6em .2em;
    line-height: 1.8em;
    border-radius: .7em;
    background-color: var(--button-bg);
    border: 1px solid var(--faint-contrast);
    margin: 2px 4px auto;
    display: inline-block;
    min-width: 60px;
    text-align: center;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
    word-break: break-word;
    transition: all 0.25s ease;
}

/* Hover effect for breadcrumb */
.breadcrumb:hover {
    background-color: var(--button-bg-hover);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
}

/* Styling for list wrapper */
.list-wrapper {
    max-width: 100%;
}

/* Styling for directory list */
ul.dir {
    flex: 1;
    padding: 15px;
    margin: auto;
    min-width: 95%;
    max-width: 95%;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 70%);
}

/* Styling for list items in directory */
ul.dir li {
    display: block;
    min-height: 2em;
    list-style-type: none;
    margin: 1px auto;
    padding: .3em .3em .4em;
    border: 1px solid var(--faint-contrast);
    border-radius: 8px;
}

/* Styling for buttons */
button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: .5em 1em;
    text-decoration: none;
    border-radius: .3em;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid var(--faint-contrast);
    text-shadow: 1px 1px 4px rgb(0 0 0 / 70%);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.25s ease;
}

/* Hover effect for buttons */
button:hover {
    background-color: var(--button-text);
    color: var(--button-bg-hover);
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 70%);
}

/* Styling for anchor tags */
a {
    text-decoration: none;
    color: var(--button-text);
    font-size: 18px;
    vertical-align: middle;
}

/* Styling for player title */
#player-title {
    color: var(--button-text);
    padding: .5em 1em;
    text-decoration: none;
    border-radius: .3em;
    vertical-align: middle;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 70%);
    font-size: 18px;
    font-weight: bold;
}

/* Media query for player section */
@media (min-width: 1200px) {
    #player {
        position: fixed;
        top: auto;
        bottom: 2px;
        left: 2px;
        padding: .5%;
        min-width: calc((100vw - 800px) / 1.2);
        box-sizing: border-box;
        background: rgba(15, 17, 17, 0.50);
        border-radius: 8px;
        border: 1px solid var(--faint-contrast);
        z-index: 1;
    }
}
